@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --desktop-width: 100svw;
  --mobile-width: 375px;
  --title-size: 32px;
  --paragraph-size: 16px;
  --dark-color1: #080202;
  --accent-color1: #73bbc9;
  --accent-color2: #fce9f1;
  --font: "Roboto", sans-serif;
  --bold: 700;
}

body {
    max-width: var(--mobile-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: var(--font);
    color: var(--dark-color1);
    font-size: var(--paragraph-size);
}

#about-img {
    max-width: var(--mobile-width);
    display: block;
    object-fit: cover;
    border-radius: 15px;
}

.title-wrapper {
    margin: 3rem 0;
}

#section-title {
    font-size: var(--title-size);
    font-weight: var(--bold);
    text-align: center;
}

.title-paragraph {
    text-align: center;
    color: var(--accent-color1);
}

